/**	font-family: 'Roboto Condensed', sans-serif; **/
body {
font-family: 'Cinzel', serif;
	background-image: url("../images/background.png");
	background-attachment: fixed;
}



nav {
	width: 103.8%;
	border-bottom: 1.2px solid lightgrey;
	height: 42px;
	margin-left: -40px;
	text-align: center;
	color: grey;
	font-size: 5mm;
}

ul {
    list-style-type: none;
}

li a {
	color: grey;
	text-decoration: none;
	padding-left: 45px;
	padding-right: 45px;

}

li {
	display: inline;	
}

#banner {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 55px;
}

#hr {
	width: 103.8%;
	border-top: 1px solid lightgrey;
	margin-left: -40px;
}

#craft {
	margin-bottom: -10px;
	color: grey;
	text-align: center;
	font-size: 8mm;
}

#sub {
	text-align: center;
	font-size: 6mm;
	color: darkgrey;
}

#container {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	height: 900px;
	margin-top: 40px;
}



footer {
	width: 103.8%;
	margin-left: -40px;
	margin-top: 275px;
	border-top: 1px solid lightgrey;
	height: 150px;
}

#first {
	width: 33%;
	height: 100px;
	float: right;
}

#second {
	width: 33%;

	height: 100px;
	float:right;
}

#third {
	width: 33%;
	height: 100px;
	float:right;
}

.box {
	width: 95%;
	border-radius: 10px;
	padding: 1%;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Work Sans', sans-serif;

}

.more {
	width: 99.4%;
	background-color: #e6e6e6;
	border-radius: 0px 0px 10px 10px;
	margin-top: -5px;
	border: 1px solid lightgrey;
	font-size: 4.7mm;
	color: #4d4d4d;
}


.img {
	border-radius: 10px 10px 0px 0px;
}

.words {
	margin:8px;
	margin-bottom: 16px;
}

hr {

}

.price {
	font-size: 6mm;
	color: #666666;
	font-weight: bold;
}


#firstt {
	width: 33%;
	height: 100px;
	float: right;
}

#secondd {
	width: 33%;

	height: 100px;
	float:right;
}

#thirdd {
	width: 33%;
	height: 100px;
	float:right;
}

.img2 {
	border-radius: 10px 10px 10px 10px;
}

#bot {
	margin-top: 245px;
}

#top {
	margin-bottom: 14px;
}

#cont {
	margin-top: 50px;
	width: 95%;
	font-size: 7mm;
	color: grey;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#cont2 {
	margin-top: 50px;
	width: 60%;
	font-size: 6mm;
	color: grey;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
	color: darkgrey;
	font-weight: bold;
}













@media screen and (max-width: 1000px) {


#banner {
	margin-top: 180px;
}

#top {
	display: none;
}

#bot {
	display: none;
}

#cont {
	margin-top: -10px;
	font-size: 11mm;
}


#cont2 {
	font-size: 11mm;
}

nav {
	width: 105%;
}

#hr {
	width: 105%;
	margin-left: -40px;
}

footer {
	margin-top: -50px;
}

#container {
	width: 100%;
	margin-bottom: 0px;
}

nav {
	border-bottom: white;
	font-size: 16mm;
	margin-bottom: 120px;
}

li {
	display: list-item;	
}

#first {
	width: 100%;
}

#second {
	width: 100%;
	margin-top: 7350px;
}

#third {
	width: 100%;
	margin-top: 7350px;
}

.more {
	font-size: 12mm;
	width: 99.8%;
}

.price {
	font-size: 13mm;
}


#firstt {
	display: none;
}

#secondd {
	display: none;
}

#thirdd {
	display: none;
}



@media screen and (max-width: 800px) {

li {
	display: list-item;	
}

nav {
	width: 106.3%;
}

#hr {
	width: 106.3%;
	margin-left: -40px;
}

#first {
	width: 100%;
}

#second {
	width: 100%;
	margin-top: 2950px;
}

#third {
	width: 100%;
	margin-top: 2470px;
}



}

@media screen and (max-width: 600px) {


nav {
	width: 108.4%;
}

#hr {
	width: 108.4%;
	margin-left: -40px;
}


}

@media screen and (max-width: 521px) {



#hr {
	width: 110%;
	margin-left: -40px;
}

li {
	display: list-item;	
}

}



@media screen and (max-width: 400px) {


#hr {
	width: 112%;
	margin-left: -40px;
}

}
